<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>QR Presença</title>
  <link rel="stylesheet" href="/static/bootstrap-dark.css" id="theme">
  <script src="https://cdn.jsdelivr.net/npm/qrcode"></script>
  <script src="/static/script.js"></script>
</head>
<body>
<div class="container text-center pt-5">
  <h2>Escaneie para registrar presença</h2>
  <div id="qrcode"></div>
  <button onclick="toggleTheme()">Tema</button>
</div>

<script>
new QRCode(document.getElementById("qrcode"),
    window.location.origin + "/presenca?token={{ token }}"
);
</script>
</body>
</html>
