{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Acesso Administrativo</h5>
      {% if erro %}<div class="alert alert-danger">Senha inválida</div>{% endif %}
      <form action="/admin" method="get">
        <div class="mb-3">
          <label>Senha</label>
          <input name="senha" class="form-control" type="password" required>
        </div>
        <button class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
