{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card p-3">
      <h5 class="card-title">Login Administrativo</h5>
      {% if erro %}<div class="alert alert-danger">Credenciais incorretas</div>{% endif %}
      <form method="POST">
        <div class="mb-2"><input class="form-control" name="usuario" placeholder="Usuário"></div>
        <div class="mb-2"><input class="form-control" name="senha" type="password" placeholder="Senha"></div>
        <div class="d-grid"><button class="btn btn-primary">Entrar</button></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
